*{
    margin:0;
    padding:0;
    font-family:Arial;
    text-decoration:none;
}
.wrapper-margin-left-right{
    margin:0 70px !important;
}
h5.lined {
    overflow: hidden;
    position: relative;
}
  h5.lined::after{
    content: "";
    width: 200%;
    height: 0.75em;
    display: inline-block;
    margin: 0 -200% 0 0;
    position: relative;
    left: 20px;
    bottom: 0.2em;
    background: url(../../../assets/products_image/bg-head.jpg) repeat-x;
    vertical-align: bottom;
}
.about_bnr{
    background:url('../../../uploads/images/about_bnr.jpg')no-repeat 0px 0px;
    background-size:cover;
    min-height:200px;
}
hr{
    height:3px;
    background-color:#8CC63E;
    border-top:1px solid rgba(255,255,255,255); 
}
/*============================= header ==============================*/
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    margin-top:-6px;
}
.dropdown-menu{
	width:12rem;
}
.dropdown-item{
	white-space: normal;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:-100%;
    margin-top:-6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.navbar-light .navbar-nav .active > .nav-link{
    background:#F8931D;
    border-radius:10px;
}
.navbar-light .navbar-nav .nav-link{
    color:rgba(0,0,0,.9);
}
.top-background-1{
    background:#8CC63E;
}

.top-height-1{
    height:40px !important;
}

.top-left-content-1{
    margin-top:8px;
    color:white;
    float:left;
    font-weight:bold;
}
.top-right-content-1{
    margin-top:8px;
    float:right;
    color:white;
}
.top-background-2{
    background:#f8f9fa;
}
.top-height-2{
    height:100px !important;
    background-color:#f8f9fa !important;
    z-index:9999;
}
.top-right-content-2{
    margin-top:20px;
    float:right;
}
.top-height-3{
    height:80px !important;
   }

/*=============================== carousel ===========================*/
/*=========================  News Section   =========================*/
.news-background{
    background:#8CC63E;
}
.news-border-left{
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
.news-border-right{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
/*======================== clients section =======================*/
.partner-content .d-block{
    border:1px solid black;
}
.distance-clients-top{
    margin-top:70px;
}
.heading-for-partner{
    margin-bottom:70px;
    font-weight:bold;
    font-family:Arial;
    text-align:center;
    color:#8CC63E;
}
.background-upon-of-projects{
    background:cyan;
    border:1px solid ;
}
#partner-id i{
    border:solid cyan;
    border-width:0 3px 3px 0;
    display:inline-block;
    padding:10px;
}
.carousel-control-left-icon{
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
}
.carousel-control-right-icon{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}

/*============================== healthcare ================================*/

.healthcare-img-box{
	position:relative;
	margin:0 auto;
	padding-top:20px;
    max-width:180px;
    border:1px solid #8CC63E;
}
.healthcare-img-box img{
	margin:0 auto;
	display: block;
}
.healthcare-img-box:hover{
    background-color:red;
    -webkit-transition:all 5s;
    transition: all 5s;;
}
.healthcare-text-box{
    background:#8CC63E;
    font-size:15px;
	max-width:180px;
	display:block;
	margin:0 auto;
	text-align: center;
    font-weight:bold;
	white-space:nowrap;
    border:1px solid black;
}
.healthcare-box-bottom-padding{
	padding-bottom:10px;
}

.padding-for-footer{
    padding:30px;
}
/*=============================== about us =========================*/
.about-width{
    max-width:900px;
}
.about-content{
   font-weight:bold; 
   text-align:justify;
   font-size:18px;
}
/*======================== Products Page ===============================*/
.uppercase-for-products-tab{
    text-transform:uppercase;
}
.tab-center ul{
	width: 90%; 
    list-style-type:none;
    margin:auto;
    padding:0;
    position:relative;
    left:2%;
}
.tab-center ul li{
    margin:5px;
}
.tab-content{
    width:100%;
}
.paddin-bottom{
    padding-bottom:40px;
}
.pro_name{
    font-size:20px;
    text-transform:uppercase;
    font-weight:bold;
    color:#8CC63E;
    margin-top:30px;
}
.product-left-margin{
    margin-left:160px;
}
.product-left-margin-250{
   margin-left:130px;
}
.alignment{
    float:right;
}
.brand_name{
    font-size:16px;
    font-weight:bold;
}
.brand_name_null{
    font-size:16px;
    font-weight:bold;
    background:red;
}

.origin_name{
    font-size:16px;
    font-weight:bold;
}
.btn-outline-light:hover{
    color:#f8f9fa !important;
}
/*======================== Image ==================================*/
#image{
    margin-bottom:50px;
}
.image-box{
    max-width:380px;
    border:1px solid white;
}
 #image .col-md-12, #image .col-lg-12,#image .col-lg-4,#image .col-md-4{
    padding-right:0;
    padding-left:0;
}
/*============================= contact ===========================*/
.gmap_canvas {
    overflow:hidden;
    background:none!important;
}
.google_map_width_height{
    width:500px;
    height:400px;
    border:1px solid black;
}
/*============================= footer ===========================*/
.footer-header-center-for-responsive{
        display:none;
    }
.footer-header-center-for-normal{
        display:block;
    }
.footer1-bg{
    background:#333;
    white-space:nowrap;
}
.footer2-bg{
    background:black;
}
.color{
    color:white;
}
.list-stylle{
    list-style:none;
}
/*====================== responsive design ==========================*/
@media only screen and (max-width:600px){
 .wrapper-margin-left-right{
    margin:0 0px !important;
    }
 .top-height-1{
    display:none;
    }
 .footer-header-center-for-responsive{
        display:block;
    }
 .footer-header-center-for-normal{
        display:none;
    }    
 .product-center-for-responsive-design{
		position:relative;
		margin:0 auto;
	}
 .product-center-for-responsive-design img{
		margin:0 auto;
	 	display:block;
	}	
 .product-text-center-for-responsive-design{
		text-align: center;
	}	
 .image-box{
    margin:0 auto;    
    max-width:380px;
    border:1px solid white;
    }
 .google_map_width_height{
    width:100%;
    height:100%;
    }
	
}
