*{
    margin:0;
    padding:0;
    font-family:Arial,serif;
    color:black;
    text-decoration:none;
}
.wrapper-margin-left-right{
    margin:0 70px !important;
}
.about_bnr{
    background:url('../../../uploads/images/about_bnr.jpg')no-repeat 0px 0px;
    background-size:cover;
    min-height:177px;
}
hr{
    height:3px;
    background-color:#8CC63E;
    border-top:1px solid rgba(255,255,255,255); 
}
/*============================= header ==============================*/
.btn-outline-success{
    color:#8CC63E;
    border:1px solid #8CC63E;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #8CC63E;
    border-color: #8CC63E;
}
.only-nav-unordered-list-color{
    background:#0065B3;
}
.navbar-new-top{
 background: #fff;               
}
.navbar-brand{
    font-weight: 600;
}
.navbar-brand img{
    width: 90%;
}
.navbar-new-top ul{
    margin-right: 9%;
}
.navbar-new-top ul li{
    margin-right: 8%;
}
.bg-light {
    background-color: #8CC63E !important;
}
.search-width{
    width:500px !important;
}
.search-width-responsive{
        display:none;
    }
.navbar-new-bottom{
    background-color: #f7f7f7;
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
    border-top: 1px solid #e0e0e0;
    margin-top: 6%;
    height: 50px;
}
.navbar-new-bottom ul li{
    margin-left: 2%;
    margin-right: 2%;
}
.navbar-nav .nav-item a {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    transition: 1s ease;
}
.navbar-nav .nav-item a:hover{
    color: #0065B3;
}
.dropdown-menu.show{
    background: #f8f9fa;
    border-radius: 0;
}
/*
.header-btn{
    width: 161%;
    border: none;
    border-radius: 1rem;
    padding: 8%;
    background: #0062cc;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}
*/
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    margin-top:-6px;
}

.dropdown-menu{
    background-color:#0065B3;
	width:12rem;
}
.dropdown-item{
	white-space: normal;
    color:#8CC63E !important;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:-100%;
    margin-top:-6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.navbar-light .navbar-nav .active > .nav-link{   
    background:#F8931D;
    border-radius:10px;
}
.nav-link{
   color:#8CC63E !important;
}
.mail{
    background:#8CC63E;
    width: 161%;
    padding: 0 10%;
    height:38px;
    border-radius:5px;
    text-align:center;
}
.mail a{
    display:block;
    padding-top:5px;
    height:100%;

}
.mail a:hover{
   background:#F8931D;
   border-radius:5px;
   -webkit-transition:all 1s;
   -moz-transition: all 1s;
   transition:all 1s;
}
.top-background-2{
    background:#f8f9fa;
}
.top-height-2{
    height:100px !important;
    background-color:#f8f9fa !important;
}
.top-right-content-2{
    margin-top:20px;
    float:right;
}
.top-height-3{
    height:135px;
}

/*=============================== carousel ===========================*/
/*=========================  News Section   =========================*/
#news{
    background:#0065B3;
    color:#8CC63E;
}
#news a{
    color:#8CC63E;
}
.news-background{
    background:#8CC63E;
}
.news-border-left{
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
.news-border-right{
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}
.marque-margin {
    border:1px solid #8CC63E;
    font-size:30px;
}
.marque-margin a{
    position:relative;
    top:3px;
}
/*======================== clients section =======================*/
.partner-content .d-block{
    border:1px solid black;
}
.distance-clients-top{
    margin-top:70px;
}
.heading-for-partner{
    margin-bottom:70px;
    font-weight:bold;
    font-family:Arial;
    text-align:center;
    color:#8CC63E;
}
.background-upon-of-projects{
    background:cyan;
    border:1px solid ;
}
#partner-id i{
    border:solid cyan;
    border-width:0 3px 3px 0;
    display:inline-block;
    padding:10px;
}
.carousel-control-left-icon{
    transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
}
.carousel-control-right-icon{
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
}

/*============================== healthcare ================================*/

.healthcare-img-box{
	position:relative;
	margin:0 auto;
	padding-top:20px;
    max-width:180px;
    border:1px solid #8CC63E;
}
.healthcare-img-box img{
	margin:0 auto;
	display: block;
}
.healthcare-img-box:hover{
    background-color:red;
    -webkit-transition:all 5s;
    transition: all 5s;;
}
.healthcare-text-box{
    background:#8CC63E;
    font-size:15px;
	max-width:180px;
	display:block;
	margin:0 auto;
	text-align: center;
    font-weight:bold;
	white-space:nowrap;
    border:1px solid black;
}
.healthcare-box-bottom-padding{
	padding-bottom:10px;
}

.padding-for-footer{
    padding:30px;
}
/*=============================== content =========================*/
.img-container{
    position:relative;
    color:white;
}
.bottom-left{
    position:absolute;
    width:100%;
    margin:0;
    bottom:0px;
    background-color:rgba(0,0,0,0.25);
}
.about-content{
   text-align:justify;
   line-height: 1.4rem;
   font-size: 15px;
   margin: .5rem 0 .6rem 0;
   font-family: 'Arimo', sans-serif;
}
.content-header{
    margin:30px 0 0;
}
dl{
    width:100%;
    overflow:hidden;
    background:#ff0;
    padding:0;
    margin:0;
}
dt{
    float:left;
    width:50%;
    background:#cc0;
    padding:0;
    margin:0;
}
dd{
    float:left;
    width:50%;
}
.modal-content{
    background-color:#0065B3;
}
.modal-dialog{
 max-width:100%;  
 margin:0; 
 padding:0;
}
.director-text{
    font-size:12px;
}
/*======================== Products Page ===============================*/
.uppercase-for-products-tab{
    text-transform:uppercase;
}
.tab-center ul{
	width: 90%; 
    list-style-type:none;
    margin:auto;
    padding:0;
    position:relative;
    left:2%;
}
.tab-center ul li{
    margin:5px;
}
.tab-content{
    width:100%;
}
.paddin-bottom{
    padding-bottom:40px;
}
.pro_name{
    font-size:18px;
    text-transform:uppercase;
    font-weight:bold;
    color:#8CC63E;
    margin-top:30px;
    line-height:normal;
}
.pro_name_sub{
    font-size:15px;
    text-transform:uppercase;
    font-weight:bold;
    color:#0065B3;
    margin-top:-20px;
}
.product-left-margin{
    margin-left:160px;
}
.product-left-margin-250{
   margin-left:130px;
}
.alignment{
    float:right;
}
.brand_name{
    font-size:16px;
    font-weight:bold;
}
.brand_name-1{
    font-size:16px;
    font-weight:bold;
}
.brand_name p{
    float:right;
    color:transparent ;
}
.brand_name-1 p{
    color:transparent;
}
.brand_name_null{
    font-size:16px;
    font-weight:bold;
}

.origin_name{
    font-size:16px;
    font-weight:bold;
}
.btn-outline-light:hover{
    color:#f8f9fa !important;
}

            /*=========== tooltip text ============*/

.toltip{
    position:relative;
    display:inline-block;
    border-bottom:1px dotted red;
}
.toltip .tooltiptext{
    position:absolute;
    visibility:hidden;
    width:225px;
    background-color:#000;
    color:#fff;
    text-align:center;
    bottom:100%;
    left:50%;
    margin-left:-110px;
    border-radius:6px;
    padding:5px 0;
    z-index:1;
}
.toltip .tooltiptext::after{
    content:"";
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-5px;
    border-width:5px;
    border-style:solid;
    border-color:black transparent transparent transparent;
}
.toltip:hover .tooltiptext{
    visibility:visible;
}

/*======================== Image ==================================*/
.custom_img_container{
    text-align:center;
}
div.polaroid{
  display:inline-block;
  margin:10px 0px;
  padding:5px;    
  background-color:white;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
div.text-container{
    text-align:center;
    padding:10px 20px;
}
#image{
    margin-bottom:50px;
}
.image-box{
    max-width:380px;
    border:1px solid white;
}
 #image .col-md-12, #image .col-lg-12,#image .col-lg-4,#image .col-md-4{
    padding-right:0;
    padding-left:0;
}
.img-caption{
    margin:0 auto;
    background:gray;
    max-width:640px;
    top:-10px;
    font-size:30px;
}
.video-width-height{
    width:350px; 
    height:197px;
}
.video-bottom-margin{
    margin-bottom:10px;
}
.font-for-video{
    font-size:20px;
}
    /* ========= scrollbar ======= */
.scrollbarr{
    overflow-y:scroll;height:500px;
}
/*============================= contact ===========================*/
h5.lined{
   overflow:hidden;
    position:relative;
}
h5.lined::after{
    content:"";
    width:200%;
    height:0.7em;
    display:inline-block;
    margin:0 -200% 0 0;
    position:relative;
    left:20px;
    bottom:0.2em;
    background: url(../../../assets/products_image/bg-head.jpg) repeat-x;
    vertical-align:bottom;
}
.news-img-box{
       width:40%;
       margin:0px auto;
    }
.contact-info{
    padding:8px;
}
.follow-us{
    padding:8px;
}
.gmap_canvas {
    width:550px;
    overflow:hidden;
    background:none!important;
}
.google_map_width_height{
    float:right;
    width:550px;
    height:400px;
    border:1px solid black;
}
/*============================= footer ===========================*/
.footer-header-center-for-responsive{
        display:none;
    }
.footer-header-center-for-normal{
        display:block;
    }
.footer1-bg{
    background:#0065B3;
    white-space:nowrap;
}
.footer2-bg{
    background:#8CC63E;
}
.color{
    color:#8CC63E;
    font-weight:bold;
}
.color-social{
    color:white;
}
.color-bg-2{
    color:#0065B3;
    font-weight:bold;
}
.btn-success{
   background-color:#8CC63E; 
}
.list-stylle{
    list-style:none;
}
.footer1-bg .btn-primary {
    background-color: #0065B3;
    border-color: #0065B3;
}
/*====================== responsive design ==========================*/
@media only screen and (max-width:600px){

 .wrapper-margin-left-right{
    margin:0 0px !important;
    }
        /*=========== menu ============*/
    .search-disable{
        display:none;
    }
    .search-width-responsive{
        display:block;
    }
    .search-width
    {
        max-width:175px;
    }
    .navbar-new-bottom{
    margin-top: 20% !important;
    }
    .ul-responsive-background{
      background: #ebedef;
      border:1px solid #d5d8dc ;  
    }  
        /* ===== /menu =======*/
    
 .top-height-1{
    display:none;
    }
    
    /* ====================== content =========================*/
dt{
    width:60%;
    }
dd{
    width:40%;
    }
    /* ====================== /content =========================*/
    
 .footer-header-center-for-responsive{
        display:block;
    }
 .footer-header-center-for-normal{
        display:none;
    }    
 .product-center-for-responsive-design{
		position:relative;
		margin:0 auto;
	}
 .product-center-for-responsive-design img{
		margin:0 auto;
	 	display:block;
	}
 .pro_name{
    text-align:center;
}
.pro_name_sub{
    text-align:center;
}
.origin_name{
    text-align:center;
}
.brand_name_null{
    text-align:center;
}
 .image-box{
    margin:0 auto;    
    max-width:380px;
    border:1px solid white;
    }
 .img-caption{
    margin:0 auto;
    background:gray;
    max-width:380px;
    top:-10px;
    font-size:15px;
}
    .news-img-box{
       width:100%;
       margin:0px auto;
    }
    .video-width-height{
    width:100%; 
    margin:0px auto;
}
.gmap_canvas {
    width:100%;
} 
.google_map_width_height{
    width:100%;
    height:100%;
    }
	
}
